:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
}

body {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe,
.video__wrapper {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video__thumbnail {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
